@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
body {
  width: 100%;
}
main {
  width: 100%;
}
.navigation {
  width: 100%;
  height: 10vh;
  background-color: #1f2039;
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  z-index: 10;
  animation: 1s ease-out nav;
}
.close,.open,.side{
  display: none;
}
@keyframes nav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.navigation .logos {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.ydl-h2 {
  position: absolute;
  bottom: 20%;
  left: 120%;
}
.links .items {
  color: #ffffffc7;
}
.accueil-photos {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
}

.accueil-photos div {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 15%;
  flex-flow: wrap;
}
.intro {
  width: 50%;
  box-sizing: border-box;
}
.accueil-introduction h1 {
  margin-bottom: 15px;
}
.accueil-introduction img {
  width: 50%;
  box-sizing: border-box;
}
.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div {
  padding-right: 80px;
}
.section-contact h2 {
  color: #a5b4fc;
  text-align: center;
  margin-bottom: 50px;
}
.img {
  box-shadow: 5px 5px 10px #1f2039;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  color: white;
}

.form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #1f2039;
  background-color: rgba(255, 255, 255, 0.778);
}

label {
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
footer {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #1f2039;
}
footer .footer {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.detail {
  background: linear-gradient(#8e86b5, #acaeed);
  color: #1f2039;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 50%;
  padding: 10px 10px;
  transition: all 0.3s;
}
.detail:hover {
  transform: scale(1.1);
  text-decoration: none;
}
footer .footer .foot-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 90%;
  height: 10vh;
  gap: 60px;
  background-color: #1f2039;
  box-shadow: 2px 2px 5px;
}
footer .footer .foot-header div {
  width: 33.3%;
  padding-left: 50px;
}
footer .footer .foot-header div p {
  color: rgba(128, 128, 128, 0.897);
  font-size: 1.1em;
}
footer .footer .foot-header div p i {
  color: #fcfffcc0;
  font-size: 1.5em;
}
footer .footer .foot-header div .descrip {
  color: #fcfffcce;
}
footer .footer .footer-links {
  box-shadow: 2px 2px 5px;
  width: 100%;
  padding-right: 30px;
  height: 60vh;
  background-color: #1f2039;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer .footer-links div {
  width: 33.3%;
  padding-left: 70px;
}
footer .footer .footer-links .media h3 {
  font-size: 1.3em;
  color: #fcfffc;
  font-weight: 400;
}
footer .footer .footer-links .media p {
  font-size: 1.1em;
  color: rgba(128, 128, 128, 0.897);
}
footer .footer .footer-links .media a {
  text-decoration: none;
  margin-left: 20px;
}
footer .footer .footer-links .media a i {
  color: #2c3e50;
  background-color: #fcfffcce;
  border-radius: 100%;
  padding: 5px;
}
footer .footer .footer-links .quick-links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
footer .footer .footer-links .quick-links h3 {
  font-size: 1.3em;
  color: #fcfffcc1;
  font-weight: 400;
}
footer .footer .footer-links .quick-links a {
  text-decoration: none;
  color: #fcfffcce;
  font-size: 1.1em;
}
footer .footer .footer-links .yudil-partenaire {
  margin-left: 30px;
}
footer .footer .footer-links .yudil-partenaire h3 {
  font-size: 1.3em;
  color: #fcfffccd;
  font-weight: 400;
}
footer .footer .footer-links .yudil-partenaire p {
  color: rgba(128, 128, 128, 0.897);
  font-size: 1.1em;
}
footer .footer .footer-links .yudil-partenaire a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.897);
  padding: 10px 40px;
  border: 1px solid #ffffffb9;
  font-size: 1.2em;
  border-radius: 5px;
}
.yudil-img {
  display: flex;
  gap: 60px;
  margin-left: -80px;
}
.icons {
  margin-left: -29%;
  display: flex;
}
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .test-none,.close{
    display: none;
  }
  .close{
    color: #8e86b5;
  }
  .open{
    display: block;
    color: #8e86b5;
  }
  .side{
    height: auto;
    top: 13%;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
  .side .side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    width: 50%;
    background-color: #8e86b5;;
    position: absolute;
    padding-left: 10px;
    right: 0;
    top: 0;
  }
  .lgs {
    width: 50px;
    height: 50px;
  }
  .detail {
    background: linear-gradient(#8e86b5, #acaeed);
    color: #1f2039;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 50%;
    margin-left: -150px;
  }
  .accueil-photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accueil-introduction .intro {
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    flex-flow: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* margin-left: -40px; */
  }
  .intro h1 {
  font-size: 1.2em;
  }
  .accueil-introduction {
    margin-top: 5%;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .accueil-introduction img {
    width: 80%;
    height: 350px;
  }
  .accueil-photos div {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
  }
  .ullistration-img{
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    border-radius: 2px;
  }
  .images-none {
    display: none;
  }
  .navigation {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  footer {
    border-top: 1px solid #fff;
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 200px;
    padding: 10px 0;
  }
  footer .footer {
    width: 480px;
    height: auto;
  }
  footer .footer .foot-header {
    padding: 0;
    margin: 0;
    position: initial;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 0px;
  }
  .footer-links .media .icons {
    left: 7%;
    position: absolute;
    display: flex;
    margin-bottom: -10px;
  }
  footer .footer .footer-links {
   width: 100%;
   height: 100%;
   box-shadow: 0 0 0 0;
  }
  .appel {
    position: absolute;
    top: 0;
    left: -10%;
    width: 50rem;
  }
  .mssg {
    position: absolute;
    top: 30%;
    left: -10%;
  }
  .location {
    position: absolute;
    top: 60%;
    left: -10%;
  }
  .link-non {
    display: none;
  }

  form {
    width: 100%;
    /* margin-left: -20px; */
    /* background-color: green; */
  }
  .section-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-nom-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #nom,
  #email,
  #message {
    width: 100%;
    height: 2.5em;
    color: #1f2039;
    background-color: #ffffffcb;
  }
  #nom,
  #email,
  #message :hover {
    border: 2px solid #a5b4fc;
  }
  #message {
    height: 4.5em;
  }
  .cta {
    transition: all 0.3;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }
  .cta :hover {
    transform: scale(1.1);
  }
  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    max-width: 768px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navigation{
    height: 20vh;
  }
  .accueil-introduction {
    width: 100%;
    padding: 40px 15px 0 15px;
  }
  .intro h1 {
    font-size: 2.5em;
  }
  .accueil-introduction .intro {
    padding: 10% 0 0 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accueil-introduction img {
    width: 50%;
  }
  .accueil-photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .les-images,
  .images-none-container {
    width: 100%;
    display: flex;
  }
  .les-images img,
  .images-none-container img {
    width: 35%;
  }
  .section-contact {
    width: 100%;
  }
  form {
    width: 100%;
  }
  .form-nom-email {
    width: 100%;
    display: flex;
  }
  #nom,
  #email {
    width: 100%;
    height: 3em;
  }
  #message {
    height: 8em;
  }
  footer {
    width: 100%;
    font-size: 13px;
  }
  .yudil-img,
  .yudil-img-none {
    display: none;
  }
  footer .footer .foot-header {
    width: 90%;
    height: 15vh;
    margin-top: -30px;
  }
  .icons {
    margin-left: -58%;
    display: flex;
    margin-bottom: 30px;
  }
  .ant {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 4em;
    font-size: 1em;
    border: 1px solid #ffffffc8;
  }
}
